<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% load static %}
    <title>SRS</title>

    <style>
        body {
            padding-top: 30px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/adapter-7.4.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/srs.sdk.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/winlin.utility.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/srs.page.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/nipplejs.js' %}"></script>
</head>
<body>
<div class="container">
    <div class="form-inline">
        <table>
            <tr align="center">
                <td>Video Server URI:</td>
                <td><input type="text" id="txt_url" class="input-xxlarge" value=""></td>
                <td rowspan="2">
                    <button class="btn btn-primary" id="btn_play">Apply</button>
                </td>
            </tr>
        </table>
    </div>

    <label></label>
    <video id="rtc_media_player" controls="" autoplay="" style="display: inline-block;"></video>


    <label></label>
    <div style="width: 150px;height: 0px ;user-select: none;position: static">
        <div id="joy-con"></div>
    </div>

    <label></label>
    SessionID: <span id="sessionid"></span>

    <label></label>
    Simulator: <a href="" id="simulator-drop">Drop</a>
    <label></label>
    self: <a href="" id="self">Drop</a> <a href="#" id="noise">noise</a>
    <label></label>
    info: <span id="info"></span>
</div>
<script type="text/javascript">
    $(function () {
        $('#rtc_media_player').hide();
        {#$('#joy-con').hide();#}
        $('#txt_url').val('webrtc://111.62.26.226:8443/test/ob2con1')
        {#$('#txt_url').val('webrtc://' + window.location.host.split(":")[0] + '/live/ob01')#}

        let ws = null;
        let uid = ""
        let connectControl = function () {
            if ("WebSocket" in window) {
                console.log("您的浏览器支持 WebSocket!");
                ws = new WebSocket(((window.location.protocol.replace(":", "") !== "https") ? "ws://" : "wss://") + window.location.host + "/control/link/");
                ws.onopen = function () {
                    let desc = {"code": 0, "msg": "client onopen.", "uid": "", "data": ""};
                    // Web Socket 已连接上，使用 send() 方法尝试发送数据
                    ws.send(JSON.stringify(desc));
                    this.g_info = setInterval(function () {
                        if (ws.uid) {
                            let msg = {
                                "code": 102,
                                "msg": "server time.",
                                "uid": ws.uid,
                                "s_time": "",
                                "data": ""
                            };
                            ws.send(JSON.stringify(msg))
                        }

                    }, 1000)
                    $("#noise").click(function () {
                        let msg = {
                            "code": 100,
                            "msg": "send command.",
                            "uid": ws.uid,
                            "s_time": "",
                            "data": {"command": {"TOGGLE_SOUND": "false"}}
                        };
                        ws.send(JSON.stringify(msg))

                    })
                };
                //监听服务端是否有消息发送过来，当有消息时执行方法
                ws.onmessage = function (evt) {
                    //获取服务器发来的消息
                    let received_msg = evt.data;
                    //显示消息
                    console.log("收到消息：" + received_msg)
                    received_msg = JSON.parse(received_msg)
                    if (received_msg.hasOwnProperty("code")) {
                        let code = received_msg["code"]
                        if (code === 0) {
                            ws.uid = received_msg["uid"]
                        } else if (code === 102) {
                            let msg = {
                                "code": 103,
                                "msg": "Calculation delay & get info.",
                                "uid": ws.uid,
                                "s_time": received_msg["s_time"],
                                "data": ""
                            };
                            ws.send(JSON.stringify(msg))
                            console.log(received_msg)
                        } else if (code === 103) {
                            $('#info').html(JSON.stringify(received_msg["data"]));
                            console.log(received_msg)
                        } else {
                            console.log(received_msg)
                        }
                    } else {
                        console.log("Unknown Data!")
                        this.close()
                    }
                };
                //关闭页面或其他行为导致与服务器断开链接是执行
                ws.onclose = function () {
                    window.clearInterval(this.g_info)
                    this.g_info = null
                    console.log("连接已关闭...");
                };
            } else {
                alert("您的浏览器不支持 WebSocket!");
            }
        }

        let lastL = 0
        let lastR = 0
        let submitWsControl = function (l, r) {
            if (this.promise_ != null) {
                if ((new Date().getTime() - this.lastDate) < 100) {
                    return
                }
                if (this.promise_.readyState !== this.promise_.OPEN) {
                    this.promise_.close()
                    this.promise_ = null;
                    return
                }
                lastL = l
                lastR = r
                let msg = {"code": 101, "msg": "Control movement.", "uid": this.promise_.uid, "data": {"l": l, "r": r}};
                this.promise_.send(JSON.stringify(msg))
            }
            this.lastDate = new Date().getTime()
            this.promise_ = ws;
        }


        let player = null; // Global handler to do cleanup when replaying.
        let publisher = null;

        let startPublish = function (host, room, display) {
            $(".ff_first").each(function (i, e) {
                $(e).text(display);
            });

            let url = 'webrtc://' + host + '/' + room + '/' + display;

            if (publisher) {
                publisher.close();
            }
            publisher = new SrsRtcPublisherAsync();

            return publisher.publish(url).then(function (session) {
                $('#self').text('Self: ' + url);
            }).catch(function (reason) {
                publisher.close();
                console.error(reason);
            });
        };
        startPublish(window.location.host, "test", "con2ob1")

        let startPlay = function () {
            $('#rtc_media_player').show();
            $('#joy-con').show();

            // Close PC when user replay.
            if (player) {
                player.close();
            }
            player = new SrsRtcPlayerAsync();

            // https://webrtc.org/getting-started/remote-streams
            $('#rtc_media_player').prop('srcObject', player.stream);
            // Optional callback, SDK will add track to stream.
            // player.ontrack = function (event) { console.log('Got track', event); player.stream.addTrack(event.track); };

            // For example: webrtc://r.ossrs.net/live/livestream
            let url = $("#txt_url").val();
            player.play(url).then(function (session) {
                $('#sessionid').html(session.sessionid);
                $('#simulator-drop').attr('href', session.simulator + '?drop=1&username=' + session.sessionid);
            }).catch(function (reason) {
                ws.close();
                player.close();
                $('#rtc_media_player').hide();
                $('#joy-con').hide();
                console.error(reason);
            });
        };

        $("#btn_play").click(function () {
            $('#rtc_media_player').prop('muted', false);
            startPlay();
            connectControl();
        });

        let loopStop = null;
        let stopCar = function () {
            if (!loopStop) {
                loopStop = setInterval(function () {
                    if (lastL < 0.02 && lastL > -0.02) {
                        $.get(window.location.protocol.replace(":", "") + "://" + window.location.host + "/control/control/?l=0&r=0", function (data, status) {
                            console.log("Data: " + data + "\nStatus: " + status);
                        });
                        cancelStop()
                    } else {
                        lastL = (lastL - (0.02 * (lastL / Math.abs(lastL)))).toFixed(2)
                        lastR = (lastR - (0.02 * (lastR / Math.abs(lastR)))).toFixed(2)
                        submitWsControl(lastL, lastR)
                    }
                }, 1)
            }
        }
        let cancelStop = function () {
            window.clearInterval(loopStop)
            loopStop = null
        }
        let joyCon = document.querySelector("#joy-con");
        // eslint-disable-next-line no-debugger
        let options = {
            color: 'red',
            mode: "static",// 'dynamic', 'static' or 'semi'
            size: 140,
            position: {
                left: "600px",
                bottom: "200px"
            },//在容器内垂直居中显示
            zone: joyCon //如果不提提供zone容器元素，那么默认动态生成的元素是注入在body中的。
        };
        let manager = nipplejs.create(options);
        //滑动摇杆的事件
        manager.on("move", function (evt, data) {
            if (data.direction) {
                if (data["distance"] > 20) {
                    cancelStop()
                    if (data["direction"]["angle"] == "up") {
                        let lrs = (data["distance"] / 70).toFixed(2)
                        submitWsControl(lrs, lrs)
                    } else if (data["direction"]["angle"] == "down") {
                        let lrs = -(data["distance"] / 70).toFixed(2)
                        submitWsControl(lrs, lrs)
                    } else {
                        if (data["direction"]["angle"] == "left") {
                            let lrs = (data["distance"] / 70).toFixed(2)
                            submitWsControl(-lrs, lrs)
                        } else if (data["direction"]["angle"] == "right") {
                            let lrs = (data["distance"] / 70).toFixed(2)
                            submitWsControl(lrs, -lrs)
                        }
                    }
                } else {
                    stopCar()
                }
            } else {
                stopCar()
            }
        });
        //停止滑动摇杆的事件
        manager.on("end", function (evt, data) {
            stopCar()
            console.log(data)
        });
    });
</script>
</body>
</html>